// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;


:root{
  --black: black;
  --white: #FFFFFF;
  --blue: #203B80;
  --yellow: #FAB005;
  --red: #FD1015;
  --redh: #f14e51;
  --gray: rgb(148, 144, 144);
}
