// Specific CSS for your home-page
@import "../components/map";



#holdf{
  margin-top: 200px;
}

#holdf2{
  margin-left: 200px;
}

#holdf3{
  border-bottom: 2cm;
  margin-top: 40px;
}

.logof{
  width: 250px;
}

.backg{
  background-image: url("https://res.cloudinary.com/dqij49pio/image/upload/v1667677528/IMG_8692_ripdqq.jpg");
  background-attachment: fixed;
  background-size: cover;
  background-repeat: none;
}
