<div class="card box" style="background-image: url(<%= route.image %>)">
  <div class="card-body box-car">
    <h4 class="text-break card-title"><%= route.name %></h4>
      <p><%= route.price %></p>
      <p><%= route.code %></p>
  </div>
</div>
