<% if location.instance_of? Location %>
  <h5> <%= location.name %></h5>
  <p><%= location.address %></p>
<% else %>
  <h5> <%= location.station_name %></h5>
  <p><%= location.address %></p>
<% end %>
