
<div class="backg">
  <div class="container text-center">
    <div class="row">
      <div class="col-md-7 col-sm-12">
        <div class="container" style="height: 50px"></div>
        <h1><strong>VIENE EL BUS</strong> <i class="fa-solid fa-bus"></i></h1>
        <p><strong>Viene el bus</strong> en cualquier lugar, en cualquier momento.
        </p>
        <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="false">
          <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
          </div>
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img src="https://res.cloudinary.com/dqij49pio/image/upload/v1668065582/pexels-ingo-joseph-35969_suxefn.jpg" class="d-block w-100" alt="...">
              <div class="carousel-caption d-none d-md-block">
                <h5><strong>Monitorea</strong> en tiempo real tus rutas <i class="fa-solid fa-location-dot"></i></h5>
                <p>Así podrás organizar mejor tu agenda</p>
              </div>
            </div>
            <div class="carousel-item">
              <img src="https://res.cloudinary.com/dqij49pio/image/upload/v1668065906/pexels-roussety-gregory-4055666_dvxlfz.jpg" class="d-block w-100" alt="...">
              <div class="carousel-caption d-none d-md-block">
                <h5><strong>Guarda</strong> tus rutas favoritas <i class="fa-solid fa-heart"></i></h5>
                <p>Así las podras llevar donde quiera que vayas.</p>
              </div>
            </div>
            <div class="carousel-item">
              <img src="https://res.cloudinary.com/dqij49pio/image/upload/v1668065135/pexels-alexander-isreb-1784142_eeczli.jpg" class="d-block w-100" alt="...">
              <div class="carousel-caption d-none d-md-block">
                <h5><strong>Organiza</strong> mejor tu tiempo</h5>
                <p>Con <strong>Viene el bus</strong> la incertidumbre no hará parte de tus viajes.</p>
              </div>
            </div>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
      </div>
      <div class="col-md-5 col-sm-12">
                <div class="container" id="holdf">

                <div class="container flex-row bd-highlight mb-3">
                  <p>
                    <a class="btn btn-outline-warning" data-bs-toggle="collapse" href="#multiCollapseExample1" role="button" aria-expanded="false" aria-controls="multiCollapseExample1"><i class="fa-solid fa-magnifying-glass-location"></i> <strong>Busca tu ruta</strong></a>
                  </p>
                  <div class="row">
                    <div style="min-height: 120px;">
                      <div class="collapse collapse-horizontal" id="multiCollapseExample1">
                        <div class="card card-body" style="width: 500px;">
                          En cuanto estes listo, no dudes en utilizar nuestra barra de busqueda para encontrar la ruta que necesitas, será un placer para nosotros acompañarte en este viaje.
                        </div>
                      </div>
                    </div>
                </div>


                <div class="container flex-row-reverse bd-highlight" id="holdf2">
                  <p>
                    <button class="btn btn-outline-warning" type="button" data-bs-toggle="collapse" data-bs-target="#multiCollapseExample2" aria-expanded="false" aria-controls="multiCollapseExample2"><i class="fa-solid fa-heart-circle-plus"></i> <strong>Rutas favoritas</strong></button>
                  </p>
                    <div style="min-height: 120px;">
                      <div class="collapse collapse-horizontal" id="multiCollapseExample2">
                        <div class="card card-body" style="width: 500px;">
                          Para poder guardar tus rutas favoritas tendrás que registrarte pero te aseguramos que valdrá la pena, podrás acceder a tus rutas favoritas de manera rapida y sencilla.
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

      </div>
    </div>

    <div class="container text-center border-bottom border-warning" style="height: 100px" id="holdf3">
      <h1><i class="fa-sharp fa-solid fa-map-location-dot fa-2xl"></i></h1>
    </div>
    <div class="d-flex justify-content-between">
      <img src="https://res.cloudinary.com/dqij49pio/image/upload/v1667963433/lw_logo_square-300x300_jsxwwj_xjypjd.png" alt="">
      <img src="https://res.cloudinary.com/dqij49pio/image/upload/v1667920641/forte_eidquk.png" alt="" class="logof">
    </div>
  </div>
</div>
