.lateral__menu{
  display: flex;
  z-index: 2;

}

.menu__side{
  width: 435px;
  height: 91%;
  background: var(--white);
  position: fixed;
  color: var(--black);
  overflow-y: scroll;
  transition: all 300ms cubic-bezier(0.785, 0.135, 0.15, 0.86);
  z-index: 2;
  border-top: 2px solid var(--white);;
}

.icon__menu{
  border: 0;
  width: 30px;
  height: 60px;
  cursor: pointer;
  border-radius: 0 8px 8px 0;
  display: flex;
  text-align: center;
  align-items: center;
  transition: all 300ms cubic-bezier(0.785, 0.135, 0.15, 0.86);
  font-size: 20px;
  z-index: 2;
  cursor: pointer;
  background-color: var(--white);
  position: absolute;
  left: 435px;
  top: 50%;
}

.icon__menu i{
  width: 100%;
  vertical-align: middle;
  color: var(--black);
}


.icon__favorites{
  color: var(--red);
  font-size: 25px;
}

.icon__favorites:hover{
  color: var(--redh);
}

/*Ocultar scroll para chrome, safari y opera*/
.menu__side::-webkit-scrollbar{
  display: none;
}

/*Ocultar scroll para IE, Edge y Firefox*/
.menu__side{
  -ms-overflow-style: none;
  scrollbar-width: none;
}



.name__page i{
  width: 20px;
  margin-right: 20px;
}



.options__menu a:hover{
  color: white;
}

.options__menu .option{
  padding: 20px 0px;
  display: flex;
  align-items: center;
  position: relative;
}

.options__menu .option i{
  width: 20px;
  margin-right: 20px;
  cursor: pointer;
}

.options__menu .option h4{
  font-weight: 300;
  cursor: pointer;
}

a.selected{
  color: #fff;
}

.selected:before{
  content: '';
  width: 3px;
  height: 80%;
  background: white;
  position: absolute;
  top: 10%;
  left: -30px;
}

/*Clases para usar en JavaScript*/
.icon__menu_move{
  left: 0;
}

.icon__menu_move i{
  transform: rotate(180deg);
}

.menu__side_move{
  width: 0%;
}


@media screen and (max-width: 760px){
  .body_move{
      margin-left: 0px;
  }

  .menu__side_move{
      width: 80px;
      left: -80px;
  }
}
