.login {
 background-image: url(https://res.cloudinary.com/dqij49pio/image/upload/v1667677528/IMG_8692_ripdqq.jpg);
}
.buttons {
  background:#FAB005;
}
.perfilusuario{
  background-image: url(https://res.cloudinary.com/dqij49pio/image/upload/v1667855506/HOLAAA_tqbwd9.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width:100%;
  height: 400px;
}
.fondo{
  background-color: white;
}
