.search_bar{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  position: relative;
  width: 520px;
  height: 36px;
  border-radius: 5px 0px 0px 5px;
  margin: 0 !important;
}


.serch {
  width: 44px;
  height: 36px;
  background: var(--yellow);
  border-radius: 0px 5px 5px 0px;
  flex: none;
  padding: 6px 8px;
  cursor: pointer;
}


.bar{
  gap: 8px;
  width: 476px;
  height: 36px;
  flex: none;
  order: 0;
  flex-grow: 0;
  text-align: center;
}

/* Contenedor de sugerencias */
.search-input-box {

	background-color: var(--white);
	box-shadow: 0 1px 5px 3px rgba(0, 0, 0, 0.12);
}


/* Contenedor de sugerencias */
.container-suggestions {
  width: 476px;
	opacity: 0;
	pointer-events: none;
	padding: 0;
	overflow-y: auto;
  display: none;

}


.search-input-box.active{
  z-index: 2;
  margin-top: 5px;
  position: absolute;
  border-radius: 5px;
}

.search-input-box.active .container-suggestions {

	opacity: 1;
	pointer-events: auto;
	padding: 10px 8px;
  display: block;
}

.search-input-box.active .container-suggestions li {
	display: block;
}

.container-suggestions li {
	list-style: none;
	width: 100%;
	padding: 8px 12px;
	border-radius: 5px;
  color: #a7aeb6;
	display: none;
}

.container-suggestions li:hover{
  background-color: #d0d4da;
}
